#mobile-card-title {
  font-size: 25px;
  margin: 0px;
}
.mobilehome{
  margin-top: 7%;
}
#profilePicture {
  margin-bottom: 40px;
}
.homeCardTitlemobile {
  font-size: 25px;
  text-align: center;
  margin: 0px;
  margin-top: 5%;

  /* margin: -40px; */
  /* text-shadow: 2px 2px 4px #a86969; */
}
