.portfolioCard {
  position: relative;
  width: 100%;
  margin: 0;
  display: grid;
  flex-wrap: wrap;
  align-content: space-evenly;
  grid-template-columns: auto auto;
  grid-template-columns: auto;
  justify-content: center;
  min-width: 300px;
  overflow: hidden;
  margin-top: -2%;
}

/* CSS for projects */
.project-container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  color: aliceblue;
  width: 70vw;
  height: 70vw;
  z-index: 0;
  margin-bottom: 20px;
}
.back {
  position: absolute;
  width: 120%;
  margin-left: -10%;
  height: 120%;
  z-index: -2;
  animation: rotations 120s linear infinite;
}
@keyframes rotations {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg) translateY(-10%);
  }
  20% {
    transform: rotate(72deg) translateY(-10%);
  }
  30% {
    transform: rotate(108deg) translateY(10%);
  }
  40% {
    transform: rotate(144deg) translateY(10%);
  }
  50% {
    transform: rotate(180deg) translateY(10%);
  }
  60% {
    transform: rotate(216deg) translateY(10%);
  }
  70% {
    transform: rotate(252deg) translateY(10%);
  }
  80% {
    transform: rotate(288deg) translateY(0%);
  }
  90% {
    transform: rotate(324deg) translateY(-10%);
  }
  100% {
    transform: rotate(359deg);
  }
}
.project-img {
  margin: auto;
  max-width: 55%;
  display: flex;
  margin-top: 10%;
  border-radius: 10px;
}

.center {
  background-color: black;
  margin-top: 2%;
}
.info {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  text-align: center;
}
.projectTitle {
  text-align: center;
  font-size: xx-large;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
}
.repolink {
  border: 1px solid white;
  margin: 1%;
  border-radius: 10px;
  text-align: center;
  padding: 1%;
  cursor: pointer;
}
.repolink:hover {
  transition: 0.4s all linear;
  transform: scale(1.1);
}
.logos {
  width: 40px;
  height: 40px;
}
.gittext {
  color: aliceblue;
  margin: auto;
  text-align: center;
  font-size: small;
}

.links {
  display: flex;
  justify-content: center;
}

.finale {
  max-width: 55%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.codes {
  background-color: aliceblue;
  border-radius: 5px;
  margin: 1vw;
  padding: 5px;
  width: 4vw;
  height: 4vw;
}


/* MOBILE  */
@media (max-width: 500px) {
  .portfolioCard {
    margin-top: 0%;
  }
  .project-container {
    width: 140vw;
    height: 140vw;
    margin-left: -16%;
  }
  .project-img {
    margin: auto;
    max-width: 48%;
    display: flex;
    margin-top: 10%;
    border-radius: 10px;
    margin-left: 32%;
  }
  .center {
    max-width: 70%;
    margin-left: 31%;
  }
  .logos {
    zoom: 1.5;
  }
  .codes {
    width: 9vw;
    height: 9vw;
  }
  
  .finale {
    margin-left: 31%;
    justify-content: left;
    max-width: 30%;
  }
}

@media (max-width: 300px) {
  .projectTitle {
    font-size: 30px;
  }
  .info {
    font-size: 10px;
  }
}
