.project-container {
  height: 75vmin;
  box-shadow: 1px 5px 5px black;
  color: white;
  overflow: auto;
  max-width: 95%;
  border-radius: 1%;
  
}

.projectTitle {
  background-color: rgba(22, 20, 20, 0.5);
  text-align: center;
  box-shadow: 1px 5px 5px black;
  margin-bottom: 5%;
  margin-top: 5%;
}
.projectTitle h1 {
  font-size: 3vmin;
}

.project-img {
  box-shadow: 1px 5px 5px black;
}

.logos {
  max-height: 5vh;
  /* display: block; */
  margin-left: 35%;
  margin-right: 50%;
  transition: transform 1s ease;
}
.logos:hover {
  transform: scale(1.3);
}
.gittext {
  font-size: 1.5vmin;
  text-align: center;

  color: white;
}
.info {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgba(22, 20, 20, 0.7);
  font-size: 1.8vmin;
  text-align: center;
  padding: 0%;
  box-shadow: 1px 5px 5px black;
}

.codes {
  max-height: 6vh;
  margin-left: auto;
  margin-right: auto;
}
.row.finale {
  background-color: rgba(235, 224, 224);
  box-shadow: 1px 5px 5px black;
  margin: auto;
  margin-top: 30px;
  margin-bottom: auto;
  border-radius: 10%;
}

@media (max-width: 520px){
  .project-container{
    height: fit-content;
    max-width: 85%;
    /* box-shadow: 1px 5px 5px white; */

  }
  .info{
    margin-top: 20px;
  }
  .row.finale{
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .codes{
    max-height: 6vw;
  }
  .logos{
    margin-left: 30%;
  }
  .info{
    font-size: 1.9vmin;
  }
}
