
#profile {
  background: linear-gradient(to right, rgb(88, 25, 5), rgba(0,0,0,0));;
  background: linear-gradient(to right, rgb(88, 25, 5,0), rgba(0,0,0,1));;
  color: rgb(0, 0, 0);
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  margin: 0;
  border-radius: 10px;
  min-width: 320px;
}
#profilescreenshot{
  opacity: 0.5;
  opacity: 0.4;
  width: 70vw;
  /* border-radius: 10px 0px 0px 10px; */
}
#mirror{
  transform: scale(-1, 1);
  opacity: 0.5;
  opacity: 0.4;
  height: 100%;
  width: 70vw;
}

#profiletext{
  border: 1px solid red;
  border-radius: 10px;
  position: absolute;
  margin-left: 50%;
  padding: 1%;
  top: 100px;
  top: 15%;
  line-height: 20px;
  color: aliceblue;
  text-align: center;
  font-size: medium;
  font-style: italic;
}

@media (max-width: 1350px) {
  #profiletext {
    zoom: 0.9;
  }
}
@media (max-width: 1220px) {
  #profiletext {
    zoom: 0.8;
  }
}
@media (max-width: 1100px) {
  #profiletext {
    zoom: 0.65;
  }
}
@media (max-width: 900px) {
  #profiletext {
    zoom: 0.6;
    /* margin-top: 30px; */
  }
}
@media (max-width: 870px) {
  #profiletext {
    zoom: 0.5;
    /* margin-top: 30px; */
  }
}
@media (max-width: 720px) {
  #profiletext {
    zoom: 0.4;
  }
}

@media (max-width: 580px) {
  #profiletext {
    zoom: 0.3;
  }
}

/* MOBILE */
@media (max-width: 500px) {
  
#profile {
  
}
#profilescreenshot{
  height: 100vw;
  width: 100vw;
}
#mirror{
  height: 100vw;
  width: 100vw;
 
}
#profiletext {
   zoom: 0.4; 
   width: 50%;
   margin: auto;
   margin-left: 50%;
   
   top: 10;
   border: none;
  
}
}
@media (max-width: 320px) {
  
  #profiletext {
     zoom: 0.25; 
     width: 50%;
     
     

    
  }
  }
