.homecard {
  border-radius: 50%;
  box-shadow: 1px 5px 5px black;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  width: 50vw;
  height: 50vw;
  min-width: 150px;
  min-height: 150px;
}

#homeback {
  content: url("../../public/connecting-dots-transparent (2).png");
}

#myStory {
  /* border-style: solid; 
  border-width: 1px;  */
  -webkit-text-size-adjust: none;

  margin: auto;
  margin-top: 2vw;
  text-align: center;
  line-height: 0.5vw;
  margin-bottom: 1vw;
  max-height: 50%;
}

#buttomcircle {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vw;
}
#profilePicture {
  box-shadow: 1px 1px 1px grey;
  /* box-shadow: 1px 1px 1px black; */
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 217, 217);
  width: 14vw;
  height: 14vw;
  margin: auto;
  margin-right: 0;
  margin-top: 0;
  min-height: 30px;
  min-width: 30px;
}

.text {
  /* font-size: 20px; */
}

#skillscontainer {
  -webkit-text-size-adjust: none;

  /* border-style: solid; 
  border-width: 1px;  */
  text-align: center;
  /* border-style: solid; */
  /* border-radius: 30%; */
  /* border-width: 1px; */
  width: 50%;
  min-width: 50px;
  margin: auto;
  margin-left: 0;
  /* margin-right: 2vw; */
  /* margin-top: 0; */
}
.skills {
  /* height: 35px; */
  margin: 0.5vw;
  height: 2vw;
  width: 2.9vw;
}

.bulmalogo {
  /* margin-right: 3px; */
}
.bulmatext {
  margin-left: 0;
  height: calc(8px + 0.5vw);
  margin-top: 4px;
}
/* SMALLER SCREENS */
@media (max-width: 1350px) {
  #myStory {
    font-size: 15px;
    line-height: 0.4vw;
  }
}
@media (max-width: 1150px) {
  #myStory {
    font-size: 12px;
    line-height: 0.3vw;
  }
}
@media (max-width: 950px) {
  #myStory {
    zoom: 0.9;
  }
  
  #profilePicture {
    width: 13vw;
    height: 13vw;
  }
}
@media (max-width: 850px) {
  #myStory {
    zoom: 0.8;
  }
}
@media (max-width: 750px) {
  #myStory {
    zoom: 0.7;
    margin-top: 20px;
  }

  #skillscontainer {
    zoom: 0.8;
  }
}
@media (max-width: 650px) {
  #myStory {
    zoom: 0.5;
  }
}

@media (max-width: 550px) {
  .homecard {
    width: 80vw;
    height: 80vw;
    margin-top: 70px;
  }
  #myStory {
    zoom: 0.8;
  }
  #skillscontainer {
    zoom: 1.2;
  }
  #profilePicture {
    width: 16vw;
    height: 16vw;
    margin: auto;
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  #myStory {
    zoom: 0.6;
  }
}
@media (max-width: 400px) {
  #myStory {
    zoom: 0.6;
  }
  #skillscontainer {
    zoom: 1;
    
  }
}
@media (max-width: 360px) {
  #myStory {
    zoom: 0.5;
  }
  #skillscontainer {
    line-height: 90%;
  }
}
@media (max-width: 290px) {
  #myStory {
    zoom: 0.4;
  }
}
@media (max-width: 260px) {
  #myStory {
    zoom: 0.35;
  }
  #profilePicture {
    
    margin-right: 10px;
  }
  
}
@media (max-width: 220px) {
  #myStory {
    zoom: 0.3;
  }
  #skillscontainer {
    line-height: 50%;
    max-width: 40%;
  }
}

/* WIDE SCREENS */
/* @media (min-width: 900px) {
  .homecard {
    zoom: 0.7;
  }
}
@media (min-width: 1200px) {
  .homecard {
    zoom: 0.8;
  }
}
@media (min-width: 1400px) {
  .homecard {
    zoom: 0.9;
  }
}
@media (min-width: 1600px) {
  .homecard {
    zoom: 1;
  }
}
@media (min-width: 2000px) {
  .homecard {
    zoom: 1.4;
  }
}
@media (min-width: 2400px) {
  .homecard {
    zoom: 1.6;
  }
}
@media (min-width: 2600px) {
  .homecard {
    zoom: 1.8;
  }
}
@media (min-width: 3000px) {
  .homecard {
    zoom: 2;
  }
}
@media (min-width: 3500px) {
  .homecard {
    zoom: 2.3;
  }
}
@media (min-width: 4000px) {
  .homecard {
    zoom: 2.6;
  }
}
@media (min-width: 4500px) {
  .homecard {
    zoom: 3;
  }
}
 */
