.homecard {
  border-radius: 50%;
  box-shadow: 1px 5px 5px black;
  background-image: url("../../public/connecting-dots-transparent (2).png");
  background-size: cover;
  height: 800px;
  width: 800px;
  margin: auto;
  margin-top: 5vh;
}
#myStory {
  /* border-style: solid;
  border-width: 1px; */
  /* border-radius: 50%; */
  /* height: 500px;
  width: 500px; */
  margin: auto;
  margin-top: 20px;
  text-align: center;
  line-height: 10px;
  margin-bottom: 5px;
}


#buttomcircle{
display: flex;
margin-top: 10px;
}
#profilePicture {
  box-shadow: 1px 5px 5px grey;
  /* box-shadow: 1px 1px 1px black; */
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 217, 217);
  /* width: 15%; */
  /* align-self: center; */
  width: 200px;
  height: 200px;
  /* margin: auto; */
  margin-top: 10px;
  margin-left: 20px;
  /* margin-left: 30px; */
}


.card-text {
  font-size: 16px;
}

#skillscontainer {
  text-align: center;
  /* border-style: solid; */
  /* border-radius: 30%; */
  /* border-width: 1px; */
  width: 65%;
  /* margin: auto; */
  /* margin-top: 0; */
}
.skills {
  height: 35px;
  margin: 15px;
}

.bulmalogo {
  margin-right: 3px;
}
.bulmatext {
  margin-left: 0;
  height: calc(8px + 0.5vw);
  margin-top: 4px;
}
/* SMALLER SCREENS */
@media (max-width: 1300px) {
  .homecard {
    zoom: 0.95;
  }
}
@media (max-width: 1000px) {
  .homecard {
    zoom: 0.9;
  }
}
@media (max-width: 900px) {
  .homecard {
    zoom: 0.8;
  }
}
@media (max-width: 800px) {
  .homecard {
    zoom: 0.7;
  }
}
@media (max-width: 700px) {
  .homecard {
    zoom: 0.6;
  }
}
@media (max-width: 600px) {
  .homecard {
    zoom: 0.5;
  }
}
@media (max-width: 500px) {
  .homecard {
    zoom: 0.4;
  }
}
@media (max-width: 450px) {
  .homecard {
    zoom: 0.35;
  }
}
@media (max-width: 400px) {
  .homecard {
    zoom: 0.3;
  }
}
@media (max-width: 350px) {
  .homecard {
    zoom: 0.25;
  }
}
@media (max-width: 300px) {
  .homecard {
    zoom: 0.2;
  }
}
@media (max-width: 270px) {
  .homecard {
    zoom: 0.15;
  }
}
@media (max-width: 220px) {
  .homecard {
    zoom: 0.1;
  }
}

/* WIDE SCREENS */
@media (min-width: 1100px) {
  .homecard {
    zoom: 1.2;
  }
}
