.top {
  text-align: center;
}
.bottom {
  background-color: rgb(128, 181, 216);
  margin-top: -65px;
  /* width: 100%; */
}
.btn {
  width: fit-content;
}
.dot {
  height: 125px;
  width: 125px;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(128, 181, 216);
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 15%;
  background-image: url("../../public/profileLinkedIn.jpg");
  background-size: cover;
}
.badge {
  color: aliceblue;
  text-align: center;
  background-image: url("../../public/connecting-dots.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0%;
  box-shadow: 1px 5px 5px black;
}
#LinkedInBadge {
  text-shadow: 2px 2px 4px #000000;
}

#logoLinkedIn {
  width: 30%;
  margin-top: 15%;
  margin-bottom: 4%;
}
#uw {
  color: rgb(51, 0, 111);
  font-size: 15px;
  text-shadow: 1px 1px 2px #f5efef;
  margin-top: 10px;
}
.space {
  margin-top: 20px;
  font-size: 18px;
}
#viewBtn {
  font-size: 15px;
  background-color: #0072b1;
}
#viewBtn:hover {
  background-color: #7ac1e2f8;
}
#linkediname {
  font-size: 20px;
}
