.top {
  text-align: center;
}
.bottom {
  background-color: rgb(128, 181, 216);
  margin-top: -60px;
  width: 100%;
  height: 80%;
}
.btn {
  width: fit-content;
}
.dot {
  height: 125px;
  width: 125px;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(128, 181, 216);
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 15%;
  background-image: url("../../public/profileLinkedIn.jpg");
  background-size: cover;
}
.badge {
  color: aliceblue;
  text-align: center;
  background-image: url("../../public/connecting-dots.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0%;
  
}
#LinkedInBadge{
  text-shadow: 2px 2px 4px #000000;
}

#logoLinkedIn {
  width: 40%;
  margin-top: 30%;
}
#uw {
  color: rgb(51, 0, 111);
  font-size: 20px;
  text-shadow: 1px 1px 2px #f5efef;
}
.space {
  margin-top: 20px;
  font-size: 23px;
}
#viewBtn {
  font-size: medium;
  background-color: #0072b1;
}
#linkediname {
  font-size: 25px;
}
/* #toolong{
  font-size: 1.8vw;
} */
