body {
  background-color: burlywood;
  background-image: url("./public/newdots-picasso.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  /* font-weight: bold; */
  /* font-family: "Merienda", cursive; */
}
@media (max-width: 520px) {
  body {
    background-image: url("./public/newdots-picasso-mobile.png");
  }
  
}
