.badge {
  font-size: 2.1vmin;
  color: aliceblue;
  text-align: center;
  background-image: url("../../public/connecting-dots.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
  box-shadow: 1px 5px 5px black;
}
#LinkedInBadge {
  text-shadow: 2px 2px 4px #000000;
}
.bottom {
  background-color: rgb(128, 181, 216, 0.8);
  margin-top: -8vmin;
  height: 50vmin;
  min-height: 320px;
}

.dot {
  min-height: 100px;
  min-width: 100px;
  height: 15vmin;
  width: 15vmin;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(128, 181, 216);
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 15%;
  background-image: url("../../public/profileLinkedIn.jpg");
  background-size: cover;
}
.space {
  font-size: calc(3px + 1.1vw);
  margin-top: calc(10px + 2vh);
}

#linkediname {
  font-size: 2vw;
}

#uw {
  color: rgb(51, 0, 111);
  text-shadow: 1px 1px 2px #f5efef;
  /* font-size: 1.5vmin; */
  font-size: calc(2px + 0.8vw);
  margin: auto;
  margin-top: 10px;
}

#viewBtn {
  font-size: 100%;
  background-color: #0072b1;
  transition: transform 0.5s ease;
}
#viewBtn:hover {
  background-color: #7ac1e2f8;
  transform: scale(1.2);
}

#logoLinkedIn {
  width: 30%;
  position: absolute;
  bottom: 15px;
  right: 35%;
}

@media (max-height: 800px) {
  .bottom {
    height: 400px;
  }
  #uw {
    font-size: 1vw;
  }
}

@media (max-width: 520px) {
  .bottom {
    height: auto;
  }

  .dot {
    height: 25vmin;
    width: 25vmin;
    margin-bottom: -4%;
  }
  .space {
    margin-top: 5vmin;
    font-size: 5vw;
  }
  #linkediname {
    font-size: 6vw;
  }
  #uw {
    font-size: 3vmin;
  }
  #logoLinkedIn {
    position: relative;
    margin-left: 70%;
    margin-top: 30%;
    margin-bottom: 4%;
  }
  .mobContact {
    margin-top: 40px;
  }
}
