.contactCard {
  display: grid;
  flex-wrap: wrap;
  align-content: space-evenly;
  grid-template-columns: auto auto;
  justify-content: center;
  min-width: 270px;
  height: 50vw;
  width: 90vw;
  overflow: hidden;
  border: 1px solid blue;
  border-radius: 10px;
  margin-left: 5vw;
}
.badge {
  position: relative;
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
  color: aliceblue;
}
.backcontact {
  position: absolute;
  width: 120%;
  margin-left: -10%;
  height: 120%;
  z-index: -2;
  animation: rotation 60s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg) translateY(-10%);
  }
  20% {
    transform: rotate(72deg) translateY(-10%);
  }
  30% {
    transform: rotate(108deg) translateY(10%);
  }
  40% {
    transform: rotate(144deg) translateY(10%);
  }
  50% {
    transform: rotate(180deg) translateY(10%);
  }
  60% {
    transform: rotate(216deg) translateY(10%);
  }
  70% {
    transform: rotate(252deg) translateY(10%);
  }
  80% {
    transform: rotate(288deg) translateY(0%);
  }
  90% {
    transform: rotate(324deg) translateY(-10%);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* MOBILE */
@media (max-width: 500px) {
  .contactCard {
    grid-template-columns: auto;
    margin-top: 0;
    height: 100%;
    border: none;
    overflow: visible;
  }
  .badge {
    width: 140vw;
    height: 140vw;
    margin-left: -16%;
    margin-top: 5vh;
  }
}
/* END */
@media (max-width: 300px) {
  .contactCard {
    width: 300px;
  }
  .badge {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: -220px;
  }
}
