
#mern{
    width: 12vw;
}
#js-html-css-logo{
    width: 8vw;
}
#express-logo{
    width: 10vw;
}
#mongo-logo{
    width: 8vw;
}
#node-logo-dark{
    width: 7vw;
    padding: 0.5%;
}
#handlebars-logo{
    width: 7vw;
    /* padding: 1%; */
}
#mongoose-logo{
    width: 8vw;
}
#sequelize-logo{
    width: 9vw;
}
#sql-logo{
    width: 7vw;
}
#nodemailer-logo{
    width: 6vw;
    padding: 2%;
}
#mysql-logo{
    width: 7vw;
}
#bulma-logo-name{
    width: 7vw;
    padding: 3%;
}
#jquery-logo-dark-full{
    width: 8vw;
    padding: 0%;
}
#ajax-logo{
    width: 6vw;
    padding: 0%;
}


@media (max-width: 500px) {

    
#mern{
    width: 19vw;
    height: 9vw;
}
#js-html-css-logo{
    width: 19vw;
    height: 9vw;
}
#express-logo{
    width: 18vw;
    height: 9vw;
}
#mongo-logo{
    width: 18vw;
    height: 9vw;
}
#node-logo-dark{
    width: 18vw;
    height: 9vw;
}
#handlebars-logo{
    width: 18vw;
    height: 9vw;
}
#mongoose-logo{
    width: 18vw;
    height: 9vw;
}
#sequelize-logo{
    width: 18vw;
    height: 9vw;
}
#sql-logo{
    width: 15vw;
    height: 9vw;
}
#nodemailer-logo{
    width: 14vw;
    height: 9vw;
    padding: 2%;
}
#mysql-logo{
    width: 18vw;
    height: 9vw;
}
#bulma-logo-name{
    width: 16vw;
    height: 9vw;
    padding: 5%;
}
#jquery-logo-dark-full{
    width: 18vw;
    height: 9vw;
}
#ajax-logo{
    width: 18vw;
    height: 9vw;
}

}

