#contactBottom {
  /* background-color: rgba(208, 213, 214, 0.9); */
  background-color: rgb(255,251,238,0.9);
}
#contactDot {
  /* border-color: rgb(208, 213, 214, 0.9); */
  border-color: rgb(255,251,238);
  background-image: url("../../public/prof.jpg");
}
#general {
  background-image: url("../../public/connecting-dots-black.jpg");
  color: black;
}

.logo {
  transition: transform 0.5s ease;
  width: calc(20px + 2vw);
  color: black;
  font-size: calc(12px + 0.1vmax);
  margin-top: calc(5px + 0.1vh);
  margin-left: 20px;
}
.logo:hover {
  transform: scale(1.2);
}
a:link {
  text-decoration: none;
}


@media (max-width: 840px){
  .logo{
    font-size: calc(8px + 0.1vmax);

  }
}
@media (max-width: 640px){
  .logo{
    font-size: calc(6px + 0.1vmax);

  }
}
@media (max-width: 520px){
  .logo{
    font-size: calc(12px + 0.1vmax);
    margin-top: calc(8px + 0.1vh);
    width: calc(30px + 2vw);
    margin-left: 10%;

  }
  .logo:hover {
    transform: scale(1.1);
  }
}


