#contactback {
  content: url("../../public/connecting-dots-black_optimized.jpg");
}

#contactBottom {
  background-color: rgb(255, 251, 238, 0.8);
  height: 80%;
  width: 120%;
  margin-left: -10%;
  margin-top: 30%;
  display: grid;
  align-content: space-evenly;
  /* align-content:center; */
  /* grid-template-columns: auto; */
  grid-template-rows:  0% 0% 0%;
    /* border: 1px solid red; */

}

#contact a {
  font-size: 25px;
  /* color: black; */
}


.logo {
  width: 8%;
  margin-right: 3%;
  /* border: 1px solid red; */
}
.logo:hover {
  transform: scale(1.2);
}
a:link {
  /* text-decoration: none; */
}
