#gitBottom {
  background-color: rgb(244, 247, 248,0.9);
  text-align: left;
}
p {
  margin-left: 16%;
  /* font-size: 3vmin; */

}
#gitDot {
  border-color: rgb(244, 247, 248,0.9);
  background-image: url("../../public/prof.jpg");
}
#general {
  background-image: url("../../public/connecting-dots-black.jpg");
  color: black;
}

#logoGit {
  width: 16%;
}

#phonelogo {
  width: 17%;
}
#maillogo {
  width: 15%;
}
#cvlogo {
  width: 11%;
}
#cv {
  color: black;
  margin-left: 18%;
  font-size: 2vmin;
  
}
#gitName {
  color: black;
  font-size: 2vmin;
  
}
#phone {
  font-size: 2vmin;
  /* color: rgb(29, 209, 29); */
}
#mail {
  color: black;
  /* font-size: 0.1vmin; */
  /* font-size: 2px; */
}
.logo {
  transition: transform 0.5s ease;
  /* margin-left: 16%; */
}
.logo:hover {
  transform: scale(1.3);
}

a:link {
  text-decoration: none;
}
@media (min-width: 520px) {
  /* p {
     font-size: 2vmin; 
    font-size: 2vw;
  }
   */
  #mail {
    font-size: 1.1vw;
    /* font-size: 1.6vmin; */
  }
}

