#passwordback {
  content: url("../../public/newdots-password.png");
}
@media (max-width: 1150px) {
  .passwordgittext {
    zoom: 0.8;
  }
  #passwordcenter {
    zoom: 0.8;
  }
}

@media (max-width: 890px) {
  #passwordcenter {
    zoom: 0.7;
  }
}

@media (max-width: 820px) {
  #passwordcenter {
    zoom: 0.6;
  }
}
@media (max-width: 700px) {
  #passwordcenter {
    zoom: 0.6;
  }
  #passwordtitle {
    zoom: 0.8;
  }
}
@media (max-width: 640px) {
  #passwordcenter {
    zoom: 0.5;
  }
}
@media (max-width: 550px) {
  #passwordcenter {
    zoom: 0.4;
  }
}

/* MOBILE *******************************/
@media (max-width: 500px) {
  #passwordcenter {
    zoom: 0.5;
  }
}

/* BIG SCREENS */

/* @media (min-width: 1800px) {
  #password {
    font-size: 28px;
  }
  #passwordcenter {
    max-width: 60%;
  }
}
@media (min-width: 2700px) {
  #password {
    font-size: 46px;
  }
  #passwordcenter {
    max-width: 60%;
  }
}
@media (min-width: 3700px) {
  #password {
    font-size: 65px;
  }
  #passwordcenter {
    max-width: 60%;
  }
} */
