#form {
  /* background-color: #a22e37; */
  background-color: #B23121;
  text-shadow: 2px 2px 4px #000000;

}
#mailBadge {
  background-image: url("../../public/connecting-dots-red.jpg");
}
#mailDot {
  background-image: url("../../public/gmailicon.png");
  /* border-color:#a22e37 */
  border-color: #B23121;

}
input::-webkit-input-placeholder {
  font-size: 2vmin;
}
textarea::-webkit-input-placeholder{
  font-size: 2vmin;
}
#sendBtn {
  font-size: 100%;
  background-color: #0044b1;
  transition: transform 0.5s ease;

}
#sendBtn:hover {
  background-color: #7ac1e2f8;
  transform: scale(1.2);
}
.form-group{
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  
}