#form {
  /* background-color: #a22e37; */
  background-color: rgba(178, 49, 33, 0.7);
  text-shadow: 2px 2px 4px #000000;

}
#mailBadge {
  background-image: url("../../public/connecting-dots-mail.jpg");
}
#mailDot {
  background-image: url("../../public/gmailicon.png");
  /* border-color:#a22e37 */
  border-color: rgb(178, 49, 33);

}
input::-webkit-input-placeholder {
  font-size: 2vmin;
}
textarea::-webkit-input-placeholder{
  font-size: 2vmin;
}
#sendBtn {
  margin-top: 40px;
  font-size: 100%;
  background-color: #0044b1;
  transition: transform 0.5s ease;

}
@media (max-width: 520px){
  #sendBtn {
    font-size: 200%; 
    margin-top: 30%;   
  }
}
#sendBtn:hover {
  background-color: #7ac1e2f8;
  transform: scale(1.2);
}
.form-group{
  width: 90%;
  margin-left: 5%;
  height: 5vmin;
}
@media (max-width: 520px){
  .form-group{
    margin-top: 10%;

  }
}
@media (max-height: 650px){
  .form-group{
    margin-bottom: 20px;

  }
  #sendBtn {
    margin-top: 60px;   
  }
}
