.navbar {
  /* alternativa color */
  /* /* rgb(104, 6, 6);  */
  /* background-color: #a22e37; */
  background-image: url("../../public/connecting-dots-white.jpg");
  /* opacity: 0.5; */
  box-shadow: 1px 5px 5px black;
}
.navbar.navbar-expand-lg.navbar-light li a:focus {
  /* color: aliceblue; */
  /* color: #a22e37; */
}
.navbar.navbar-expand-lg.navbar-light li a:hover {
  /* color: aliceblue; */
  color: #a22e37;
}

.navbar-brand {
  /* font-size: 70px; */
  font-size: 5vw;
  font-style: italic;
}

.navbar.navbar-expand-lg.navbar-light li a {
  color: black;
  font-size: 25px;
  /* color: burlywood; */
}

.navbar-toggler {
  background-color: burlywood;
}
#navbarNav {
  /* text-shadow: 2px 2px 4px #000000; */
}
#myName {
  /* text-shadow: 2px 2px 4px #a86969; */
}
