.navbar.navbar-expand-lg.navbar-light 
{
    background-color: #A22E37;
    /* alternativa color */
    /* /* rgb(104, 6, 6);  */
    box-shadow: 1px 5px 5px black;
    
    
}
.navbar-brand{
    
    /* font-size: 70px; */
    font-size: 5vw;

    font-style: italic;
    
}

.navbar.navbar-expand-lg.navbar-light li a {
    /* color: rgb(184, 181, 46); */
    font-size: 20px;
    color: burlywood;
}